{% extends 'mainapp/base.html' %}
{% load custom_tags %}

{% block title %}
    <title>Продукты</title>
{% endblock %}

{% block content %}
    <h1>Продукты</h1>
    <p>Продуктов в корзине: {{ request.user|basket_total_quantity }} </p>
    <p>На общую сумму {{ request.user|basket_total_cost }} рублей</p>
    {% include 'mainapp/includes/inc_categories_menu.html' %}
    <div class="catalog">
        <div class="item">
            <h3>{{ hot_product.name }}</h3>
            <img src='{{ hot_product.image.url }}' height="150px">
            <div class="short_desc">{{ hot_product.short_desc }}</div>
            <h1 style="color: red;">Горячее предложение</h1>
            <a href="{% url 'mainapp:detail' hot_product.pk %}">Просмотреть товар</a>
        </div>
    </div>
{% endblock %}