{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content %}
    <h1 class="index">Главная</h1>
    {% if request.user.username %}
        <div>Привет, {{ request.user.username|title }}!</div>
    {% else %}
        <div>Привет, незнакомец!</div>
    {% endif %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'auth:edit' %}">Изменить данные</a> или <a href="{% url 'auth:logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'auth:login' %}">Войти</a> или <a href="{% url 'auth:register' %}">Зарегистрироваться</a>
    {% endif %}
    <div>Сегодня у нас: {% now 'd/m/Y' %}</div>
    {% if empty_array %}
        <h1>{{ array.0 }}</h1>
    {% else %}
        <h1>Передан пустой массив</h1>
    {% endif %}
    {% for element in array %}
        <h1>{{ element }}</h1>
    {% endfor %}
{% endblock %}
