html {
    overflow-y: scroll;
}

body {
    margin: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.index {
    color: blue;
}

.active {
    background-color: Gray;
}

.simple_menu {
    margin: 0;
    padding: 4px;
}

.simple_menu li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.simple_menu a {
    text-decoration: none;
    font-weight: bold;
    color: MediumBlue;
}

.simple_menu a:hover {
    color: black;
}

.logo,
.menu_block {
    display: inline-block;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.menu_block {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.header hr {
    clear: both;
}

.catalog {
    text-align: center;
}

.item {
    margin: 30px;
    display: inline-block;
    text-align: center;
}

.item a {
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
}

.product_info {
    margin: 0 25% 0 25%;
    width: 50%;
    text-align: center;
}

.user_info a {
    float: left;
}

.user_info p {
    color: red;
    margin: 0;
}

.user_li {
    list-style-type: none;
    clear: both;
}