<div class="menu_block">
    <ul class="simple_menu">
        {% for link in links_menu %}
            <li>
                <a href="{% url link.href %}"
                   class="{% if request.resolver_match.url_name == link.href %}
                            active
                          {% elif request.resolver_match.namespace == 'products' and link.href == 'products:index' %}
                            active
                          {% endif %}">
                    {{ link.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>